body {
  padding-top: 30px;
}
.index2 {
  z-index: 1;
  filter: blur(7px);
}
.header {
  width: 50%;
  height: 20px;
  border-bottom: 1px solid gray;
  text-align: center;
  margin: auto;
}
.welcome {
  font-size: 40px;
  background-color: white;
  padding: 0 5px;
  font-weight: 200;
}
.text {
  font-size: 35px;
  color: red;
}
.middle {
  margin: 50px 300px;
  width: 50%;
  text-align: center;
}
.box {
  height: 350px;
  width: 350px;
  border: 1px solid red;
  box-shadow: 3px 3px 10px gray;
  border-radius: 10px;
  text-align: center;
  color: red;
  margin: auto;
}
.space {
  margin-left: 50px;
}
p {
  padding-left: 40px;
  text-decoration: line-through;
  font-size: 23px;
}
.checkBox {
  font-size: 20px;
  color: black;
}
.trip {
  margin: 130px 20px 0 0;

  float: right;
}
.index4 {
  border: 1px solid black;
  width: 90%;
  position: absolute;
  top: 5px;
  height: 550px;
  z-index: 2;
}
form {
  text-align: center;
  color: red;
  width: 30%;
  height: 150px;
  margin: auto;
  border: 1px solid red;
  margin-top: 230px;
}
input {
  border: 1px solid red;
  height: 30px;
  width: 50%;
  box-shadow: 2px 2px 2px gray;
  border-radius: 12px;
}
button {
  color: white;
  background-color: red;
  width: 25%;
  height: 30px;
  border-radius: 20px;
}
